.gallery-img {
    cursor: pointer;
    transition: transform .2s;
}

.gallery-img:hover {
    transform: scale(1.05);
}
.img-fluid {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;    
}